.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    a {
      color: #8e8e8e;
      font-size: 14px;
      text-decoration: none;
      height: 100%;
      box-sizing: border-box;
      display: block;
      &:hover, &:active, &.active {
        color: #bfdcf9;
      }
    }
  }
  
  @media (min-width: 700px) {
    .NavigationItem {
      margin: 0;
      display: flex;
      height: 100%;
      width: auto;
      align-items: center;
      a {
        color: #8e8e8e;
        text-decoration: none;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        &:hover, &:active {
          background-color: #FFF;
          border-bottom: 2px solid #bfdcf9;;
          color: #8e8e8e;
          transition: border-bottom 1s;
        }
        &.active {
          color: #4a4a4a;
        }
      }
    }
  }