

.Container {

  }
  
  header {
    background: white;
    padding: 1rem;
  }
  
  main {
    background: whitesmoke;
    color: #444;
    padding: 1rem;
    box-shadow: 0 4px 2px -2px rgba(0, 0%, 85%, 1);
  }
  
  footer {
    background: white;
    padding: 1rem;
  }
  .Header {
    grid-area: header;
  }
  
  .Main {
    grid-area: main;
  }
  
  .Footer {
    grid-area: footer;
  }

  
// .Content {
//     margin-top: 72px;
// }