

.Container {

  }
  
  header {
    background: deeppink;
    padding: 1rem;
  }
  
  main {
    background: whitesmoke;
    color: #444;
    padding: 1rem;
  }
  
  footer {
    background: purple;
    padding: 1rem;
  }
  .Header {
    grid-area: header;
  }
  
  .Main {
    grid-area: main;
  }
  
  .Footer {
    grid-area: footer;
  }

  
// .Content {
//     margin-top: 72px;
// }