.Container {
    display: grid;
  }
  
  .Header {
    grid-area: header;
  }
  
  .Main {
    grid-area: main;
  }
  
  .Footer {
    grid-area: footer;
  }

  
// .Content {
//     margin-top: 72px;
// }