.app {
  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 2s linear;
  height: 60px;
  padding-top: 80px;
}

.header {
  // background-color: lighten(#222, 10%);
  background-color: white;
  height: 300px;
  padding: 20px;
  color: #58595b;
  h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #999;
  }
}

// @keyframes App-logo-spin {
//   from { transform: rotate(0deg); }
//   to { transform: rotate(360deg); }
// }
